<html>
    <head>
        <title>BugTracker</title>
        <script>
            // Navegador + relogio
            document.onreadystatechange = () => {
                if (document.readyState === 'interactive') {
                    document.getElementById('userAgent').value = window.navigator.userAgent
                    document.getElementById('userDate').value = new Date()
                }
            }
        </script>
    </head>
    <body>
        <h1>Ferramenta de Relatos de Bugs</h1>
        <p>Preencha todos os dados a seguir:</p>
        <form method="post">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name">

            <label for="email">Email:</label>
            <input type="email" name="email" id="email">

            <label for="issueType">Classificação:</label>
            <select id="issueType" name="issueType">
                <option value="">Selecione</option>
                <option value="CRITICAL">CrÍtico</option>
                <option value="BUG">Falha</option>
                <option value="ENHANCEMENT">Melhoria</option>
            </select>
            
            <label for="howToReproduce">Como reproduzir o erro?</label>
            <input type="text" name="howToReproduce" id="howToReproduce">

            <label for="expectedOutput">A saída esperada?</label>
            <input type="text" name="expectedOutput" id="expectedOutput">

            <label for="expectedInput">A saída recebida?</label>
            <input type="text" name="expectedInput" id="expectedInput">

            <input type="hidden" id="userAgent" name="userAgent">
            <input type="hidden" id="userDate" name="userDate">

            <button>Enviar solicitação!</button>
        </form>
    </body>
</html>