<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>BugTracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" type="text/html" href="/views/css/style.css">
        <script>
            // Navegador + relogio
            document.onreadystatechange = () => {
                if (document.readyState === 'interactive') {
                    document.getElementById('userAgent').value = window.navigator.userAgent
                    document.getElementById('userDate').value = new Date()
                }
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg shadow mb-5">
            <div class="container">
                <a class="navbar-brand" href="/"><b>BugTracker</b></a>
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active"><a class="nav-link" href="#">Visitar Portfólio</a></li>
                    <li class="nav-item"><a href="#" class="btn btn-outline-light px-3 py-2"><i class="fab fa-github mr-1"></i>GitHub</a></li>
                </ul>
            </div>
        </nav>

        <main class="container mb-5">
            <div class="container col-8">
                <img src="/bugtracker.png" alt="BugTracker">
                <h1 class="text-center">Ferramenta de Relatos de Bugs</h1>
                <p class="text-center">Por favor, preencha todos os dados a seguir:</p>
                <form method="post">
                    
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Digite seu Nome">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <label for="issueType">Classificação:</label>
                        <select id="issueType" class="form-control" name="issueType">
                            <option value="">Selecione</option>
                            <option value="CRITICAL">CrÍtico</option>
                            <option value="BUG">Falha</option>
                            <option value="ENHANCEMENT">Melhoria</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="howToReproduce">Como reproduzir o erro?</label>
                        <input type="text" class="form-control" name="howToReproduce" id="howToReproduce">
                    </div>

                    <div class="form-group">
                        <label for="expectedOutput">A saída esperada?</label>
                        <textarea class="form-control" name="expectedOutput" id="expectedOutput"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="expectedInput">A saída recebida?</label>
                        <textarea class="form-control" name="expectedInput" id="expectedInput"></textarea>
                    </div>

                    <input type="hidden" id="userAgent" name="userAgent">
                    <input type="hidden" id="userDate" name="userDate">

                    <button class="btn btn-primary">Enviar solicitação!</button>
                </form>
            </div>
        </main>

    </body>
</html>