<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>BugTracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script>
            // Navegador + relogio
            document.onreadystatechange = () => {
                if (document.readyState === 'interactive') {
                    document.getElementById('userAgent').value = window.navigator.userAgent
                    document.getElementById('userDate').value = new Date()
                }
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">BugTracker</a>
        </nav>
        <main class="container mb-5">
            <div class="alert alert-success" role="alert">
                Seu problema foi reportado com sucesso. Muito obrigado. <a href="/">Voltar e reportar mais um problema</a>
            </div>
        </main>
    </body>
</html>